- semantic_remote_form_for @shouty do |form|
  - form.inputs do
    = form.input :body, :label => false
  - form.buttons do
    = form.commit_button :label => "shouty!"

.shouties= render :partial => "shared/shouty", :collection => @shouties
= periodically_call_remote :url => fetch_shouties_path, :frequency => '30', :update => '.shouties', :method => :get
